<div class = "col-md-12">

<h2>
List of Products
</h2>
<div>
<ul class = "list-group">
<li class = "list-group-item" *ngFor = "let key of productsKeys" >


    <span><b>Product ID:</b> {{products[key].id}}</span>
    <br />
    <span><b>Product Name:</b> {{products[key].name}}</span>
    <br />
    <span><b>Product Price:</b> ${{products[key].price}}</span>
    <div>
    <button class="btn btn-info" [routerLink] = "['/edit-product', key]" (click) = "updateProduct(key)">Edit</button>
    </div>
</li>
</ul>
</div>
</div>
