<h2>Update product {{product?.id}}: </h2>
<form [formGroup] = "updateform" (ngSubmit) = "sendData()">
<div>
<label for="name"></label>
<input type="text" name="name" id="name" class="form-control" formControlName = "name"  value="{{name}}" [(ngModel)]="name">
</div>
<div>
<label for="price"></label>
<input type="text" name="price" id="price" class="form-control" formControlName = "price"  value="{{price}}" [(ngModel)]="price">
</div>
<br>
<input type="submit" value="Updat Product" class="btn btn-primary">
</form>
